user nginx;
worker_processes 1;
error_log /var/log/nginx/error.log;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    server {
        listen <%= node["nginx"]["port"] %>;
        location / {
            proxy_pass <%= node["nginx"]["revers_url"] %>;
        }
    }
}